.App {
  text-align: center;
}

.margin-header{
  margin-top:65px;
}
.App-header {
  background-color: #007bff;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  right:0;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white!important;
  height:60px;
}

.App-link {
  color: #3f638b;
}
/* .btn,.form-control,.modal-content,.card{
  border-radius: 0;
} */